@import url('https://fonts.cdnfonts.com/css/mismo');

body {
  background-color: #222222;
  font-family: 'Mismo', sans-serif;
  margin: 0;
}

.main {
  padding: 0 40px;
}

.page-title {
  margin: 16px 0 8px 0;
  font-size: 24px;
}

.page-number {
  margin: 0;
  margin-bottom: 8px;
  font-size: 16px;
}

.text-center {
  text-align: center;
}


